@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,700|Poppins:200,200i,300,300i,400,500,500i,600,700,800,900&display=swap");
/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
.header-area {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 9;
}
@media (max-width: 767px) {
  .header-area {
    padding-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area {
    padding-top: 0;
  }
}
.header-area .header-top-area {
  padding: 20px 0;
  background: #222222;
}
.header-area .header-top-area .social-media-links {
  text-align: right;
}
@media (max-width: 767px) {
  .header-area .header-top-area .social-media-links {
    text-align: center;
  }
}
.header-area .header-top-area .social-media-links a {
  font-size: 15px;
  color: #fbf9ff;
  margin-left: 32px;
}
.header-area .header-top-area .social-media-links a:hover {
  color: #eb592d;
}
.header-area .header-top-area .short-contact-list {
  text-align: left;
}
@media (max-width: 767px) {
  .header-area .header-top-area .short-contact-list {
    text-align: center;
  }
}
.header-area .header-top-area .short-contact-list ul li {
  display: inline-block;
}
.header-area .header-top-area .short-contact-list ul li a {
  font-size: 16px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-right: 50px;
  text-decoration: none;
}
@media (max-width: 767px) {
  .header-area .header-top-area .short-contact-list ul li a {
    margin-left: 0;
    margin-right: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
  }
}
.header-area .main-header-area {
  background: #fff;
}
@media (max-width: 767px) {
  .header-area .main-header-area {
    padding: 10px 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area {
    padding: 10px 10px;
  }
}
.header-area .main-header-area .logo h1 {
  text-align: center;
  color: #191d34;
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
  position: relative;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .header-area .main-header-area .logo h1 {
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .logo h1 {
    text-align: left;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .logo h1 {
    text-align: left;
  }
}
.header-area .main-header-area .main-menu {
  text-align: right;
}
.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin-left: 40px;
}
.header-area .main-header-area .main-menu ul li a {
  color: #191d34;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  padding: 37px 0;
  font-family: "Poppins", sans-serif;
  position: relative;
  text-transform: capitalize;
  text-decoration: none;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}
.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}
@media (max-width: 767px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}
.header-area .main-header-area .main-menu ul li a::before {
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: scaleX(0);
  transition: 0.3s;
}
.header-area .main-header-area .main-menu ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}
.header-area .main-header-area .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}
.header-area .main-header-area .main-menu ul li:hover > a {
  color: #eb592d !important;
}
.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 99;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.96);
}
@media (max-width: 767px) {
  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area.sticky {
    padding: 10px 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area.sticky {
    padding: 10px 20px;
  }
}
.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}

.slider-bg-1 {
  background-image: url(../img/banner/banner.png);
}

.slider-area {
  position: relative;
  z-index: 3;
}
.slider-area .single-slider {
  height: 725px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .slider-area .single-slider {
    height: 600px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .slider-area .single-slider {
    height: 600px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .slider-area .single-slider {
    height: 550px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .slider-area .single-slider {
    height: 600px;
  }
}
@media (min-width: 1501px) and (max-width: 1700px) {
  .slider-area .single-slider {
    height: 600px;
  }
}
.slider-area .single-slider .slider-text {
  position: relative;
  z-index: 6;
}
.slider-area .single-slider .slider-text h3 {
  color: #fbf9ff;
  font-family: "Poppins", sans-serif;
  font-size: 75px;
  font-weight: 200;
  margin-bottom: 4px;
  line-height: 85px;
}
.slider-area .single-slider .slider-text h3 span {
  font-weight: 800;
}
@media (max-width: 767px) {
  .slider-area .single-slider .slider-text h3 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .slider-area .single-slider .slider-text h3 {
    font-size: 45px;
    line-height: 55px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .slider-area .single-slider .slider-text h3 {
    font-size: 60px;
    line-height: 70px;
  }
}
.slider-area .single-slider .slider-text p {
  font-size: 16px;
  font-weight: 400;
  color: #fbf9ff;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 32px;
  display: inline-block;
  margin-bottom: 50px;
  margin-top: 12px;
}
@media (max-width: 767px) {
  .slider-area .single-slider .slider-text p br {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .slider-area .single-slider .slider-text p br {
    display: none;
  }
}
.slider-area .dog-thumb {
  position: absolute;
  bottom: 0;
  right: 15%;
  bottom: -94px;
  z-index: 1;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .slider-area .dog-thumb {
    right: 0;
    text-align: right;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .slider-area .dog-thumb {
    right: 10%;
    text-align: right;
  }
}
@media (min-width: 1501px) and (max-width: 1700px) {
  .slider-area .dog-thumb {
    right: 10%;
    text-align: right;
  }
}
.slider-area .dog-thumb img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .slider-area .dog-thumb img {
    max-width: 80%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .slider-area .dog-thumb img {
    max-width: 80%;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .slider-area .dog-thumb img {
    max-width: 80%;
  }
}
@media (min-width: 1501px) and (max-width: 1700px) {
  .slider-area .dog-thumb img {
    max-width: 80%;
  }
}

.boxed-btn {
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid transparent;
  color: #ff3500;
  padding: 17px 50px;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  border-radius: 30px;
}
.boxed-btn:hover {
  background: #f5790b;
  color: #fff;
  border: 1px solid #f5790b;
  text-decoration: none;
}
.boxed-btn:focus {
  outline: none;
}

.boxed-btn2 {
  background: #eb592d;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid transparent;
  color: #fff;
  padding: 17px 50px;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  border-radius: 30px;
}
.boxed-btn2:hover {
  background: #f5790b;
  color: #fff;
  border: 1px solid #f5790b;
  text-decoration: none;
}
.boxed-btn2:focus {
  outline: none;
}

.boxed-btn3 {
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid transparent;
  color: #ff3500;
  padding: 17px 50px;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  border-radius: 30px;
}
.boxed-btn3:hover {
  background: #f5790b;
  color: #fff;
  border: 1px solid #f5790b;
  text-decoration: none;
}
.boxed-btn3:focus {
  outline: none;
}

@media (max-width: 767px) {
  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 9;
  }
}

.slicknav_menu .slicknav_nav {
  background: #fff;
  float: right;
  margin-top: 0;
  padding: 0;
  width: 95%;
  padding: 0;
  border-radius: 0px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 11px;
}
.slicknav_menu .slicknav_nav a {
  font-size: 17px;
}
.slicknav_menu .slicknav_nav a:hover {
  background: transparent;
  color: #ff3500;
}
.slicknav_menu .slicknav_nav a.active {
  color: #ff3500;
}
@media (max-width: 767px) {
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}
.slicknav_menu .slicknav_nav .slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -40px;
  position: relative;
  z-index: 99;
  border: 1px solid #ddd;
  top: 3px;
  right: 5px;
  top: -36px;
}
.slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  position: relative;
  padding-bottom: 3px;
  top: -11px;
  right: -5px;
}
@media (max-width: 767px) {
  .slicknav_menu {
    margin-right: 0px;
  }
}

.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px;
}

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 5px;
  margin-top: -5px;
  top: -31px;
}

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -36px;
}

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -45px;
}

.slicknav_icon-bar {
  background: #000 !important;
}

.service-icon-bg-1 {
  background-image: url(../img/servicios/service_icon_bg_1.png);
}

.service-area {
  padding-top: 240px;
  padding-bottom: 105px;
}
@media (max-width: 767px) {
  .service-area {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .service-area {
    padding-top: 100px;
    padding-bottom: 40px;
  }
}
.service-area .single-service {
  padding: 70px 25px 65px 25px;
  border: 1px solid #fdcb9e;
  border-radius: 10px;
  margin-bottom: 30px;
  transition: 0.5s;
}
.service-area .single-service .service-thumb {
  height: 140px;
  width: 160px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
}
.service-area .single-service .service-thumb .service-icon img {
  width: auto;
}
.service-area .single-service .service-content h3 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 43px;
  margin-bottom: 22px;
}
.service-area .single-service .service-content p {
  margin-bottom: 0;
}
.service-area .single-service:hover {
  box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
  border: 1px solid transparent;
}

.section-title h3 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: #191d34;
  font-family: "Poppins", sans-serif;
}
.section-title h3 span {
  font-weight: 300;
}
@media (max-width: 767px) {
  .section-title h3 {
    font-size: 27px;
    line-height: 33px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-title h3 {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .section-title h3 {
    font-size: 33px;
    line-height: 40px;
  }
}
.section-title p {
  font-size: 16px;
  line-height: 30px;
  color: #909092;
  font-weight: 400;
}

.mb-95 {
  margin-bottom: 90px;
}
@media (max-width: 767px) {
  .mb-95 {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .mb-95 {
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .mb-95 {
    margin-bottom: 50px;
  }
}

.pet-care-area {
  padding-top: 73px;
  padding-bottom: 24px;
}
@media (max-width: 767px) {
  .pet-care-area {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.pet-care-area .pet-thumb img {
  width: 100%;
}
.pet-care-area .pet-info .section-title p {
  color: #5c5c5c;
  line-height: 28px;
  font-size: 16px;
  margin-bottom: 54px;
  margin-top: 30px;
}

.area-testimonial {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding: 125px 0 115px 0;
  overflow: hidden;
  background: #fff;
}
@media (max-width: 767px) {
  .area-testimonial {
    padding: 50px 0 50px 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .area-testimonial {
    padding: 100px 0 100px 0;
  }
}
.area-testimonial .single-testmonial {
  box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
  border-radius: 10px;
  padding: 60px 80px 85px 80px;
}
@media (max-width: 767px) {
  .area-testimonial .single-testmonial {
    display: block !important;
    padding: 30px;
  }
}
.area-testimonial .single-testmonial .test-thumb {
  margin-right: 25px;
}
@media (max-width: 767px) {
  .area-testimonial .single-testmonial .test-thumb {
    margin-bottom: 50px;
  }
}
.area-testimonial .single-testmonial .test-thumb img {
  max-width: 130px;
}
.area-testimonial .single-testmonial .test-content h4 {
  font-size: 20px;
  font-weight: 600;
  color: #909092;
  margin-bottom: 0;
}
.area-testimonial .single-testmonial .test-content span {
  display: block;
  color: #66666f;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1;
  margin-top: 3px;
}
.area-testimonial .single-testmonial .test-content p {
  font-size: 18px;
  color: #7f7f7f;
  margin-bottom: 0;
  line-height: 35px;
}
@media (max-width: 767px) {
  .area-testimonial .single-testmonial .test-content p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .area-testimonial .single-testmonial .test-content p br {
    display: none;
  }
}
.area-testimonial .textmonial-active .owl-item {
  opacity: 0.6;
}
.area-testimonial .textmonial-active .owl-item.active {
  opacity: 1;
}
.area-testimonial .owl-carousel .owl-item img {
  display: inline-block;
  width: 130px;
}
.area-testimonial .owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 40px;
}
.area-testimonial .owl-carousel .owl-nav div {
  left: 0;
  background: #191d34;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #bc9321;
  background: #fff;
  font-size: 14px;
  color: #ff3500 !important;
  left: auto;
  bottom: 30px;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  top: auto;
  right: 78px;
  font-size: 20px;
  border: none;
  color: #bc9321;
  background: transparent;
}
.area-testimonial .owl-carousel .owl-nav div {
  color: #bc9321 !important;
}
.area-testimonial .owl-carousel .owl-nav div:hover {
  color: #191d34 !important;
  background: transparent;
}
.area-testimonial .owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  right: 1px;
  top: -1px;
}
.area-testimonial .owl-carousel .owl-nav div.owl-next i {
  position: relative;
  right: 0;
  top: -1px;
}
.area-testimonial .owl-carousel .owl-stage-outer {
  position: relative;
  overflow: visible;
  -webkit-transform: translate3d(0, 0, 0);
}

.pet-bg-1 {
  background-image: url(../img/banner/contact_bg.png);
}

.contact-pet {
  margin-top: 5vh;
  background-position: center center;
  background-size: cover;
  padding-top: 170px;
  padding-bottom: 160px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .contact-pet {
    background-size: cover;
    padding: 110px 0;
  }
}
.contact-pet .contact-text .section-title h3 {
  color: #fff;
}
.contact-pet .contact-text .section-title p {
  font-size: 25px;
  color: #fff;
  line-height: 40px;
  margin-top: 35px;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .contact-pet .contact-text .contact-btn {
    display: block !important;
  }
}
.contact-pet .contact-text .contact-btn p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin-left: 20px;
}
@media (max-width: 767px) {
  .contact-pet .contact-text .contact-btn p {
    margin-left: 0;
    margin-top: 30px;
  }
}
.contact-pet .contact-text .contact-btn p a {
  font-weight: 600;
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}

.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #fff;
  position: relative;
  z-index: 0;
}
.footer .footer-top {
  padding-top: 130px;
  padding-bottom: 110px;
}
@media (max-width: 767px) {
  .footer .footer-top {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
.footer .footer-top .footer-widget .address-text {
  font-size: 16px;
  font-weight: 400;
  color: #7f7f7f;
  line-height: 28px;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 767px) {
  .footer .footer-top .footer-widget {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer .footer-top .footer-widget {
    margin-bottom: 30px;
  }
}
.footer .footer-top .footer-widget .address-line li {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  font-family: "Poppins", sans-serif;
  color: #7f7f7f;
  list-style: none;
  text-align: left;
}
.footer .footer-top .footer-widget .links {
  position: relative;
  top: 0;
  list-style: none;
}
.footer .footer-top .footer-widget .links.double-links li {
  width: 50%;
  float: left;
}
.footer .footer-top .footer-widget .footer-title {
  font-size: 25px;
  font-weight: 500;
  color: #303030;
  text-transform: capitalize;
  margin-bottom: 36px;
  font-family: "Poppins", sans-serif;
  position: relative;
}
@media (max-width: 767px) {
  .footer .footer-top .footer-widget .footer-title {
    margin-bottom: 20px;
  }
}
.footer .footer-top .footer-widget p {
  color: #5c5c5c;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #5c5c5c;
}
.footer .footer-top .footer-widget p a {
  color: #5c5c5c;
}
.footer .footer-top .footer-widget p a:hover {
  color: #eb592d;
}
.footer .footer-top .footer-widget p.footer-text {
  font-size: 16px;
  color: #5c5c5c;
  margin-bottom: 23px;
  font-weight: 400;
  line-height: 26px;
}
.footer .footer-top .footer-widget p.footer-text a.domain {
  color: #5c5c5c;
  font-weight: 400;
}
.footer .footer-top .footer-widget p.footer-text a.domain:hover {
  color: #eb592d;
  border-bottom: 1px solid #eb592d;
}
.footer .footer-top .footer-widget ul li {
  color: #5c5c5c;
  font-size: 16px;
  line-height: 40px;
}
.footer .footer-top .footer-widget ul li a {
  color: #5c5c5c;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.footer .footer-top .footer-widget ul li a:hover {
  color: #eb592d;
}
.footer .social-media-links {
  margin-top: 26px;
}
@media (max-width: 767px) {
  .footer .social-media-links {
    margin-top: 20px;
  }
}
.footer .social-media-links ul li {
  display: inline-block;
}
.footer .social-media-links ul li a {
  font-size: 25px;
  color: #999999;
  width: 30px;
  display: inline-block;
  text-align: center;
  background: transparent;
  border-radius: 50%;
  margin-right: 7px;
  color: #fff;
  line-height: 40px !important;
  color: #909092;
}
.footer .social-media-links ul li a:hover {
  color: #eb592d !important;
  border-color: transparent;
}

/*# sourceMappingURL=style.css.map */
